#Titulo{
    border: 10px solid aqua;
    background-color: rgb(150, 215, 255);
    transition: 1s;
    cursor: pointer;
    text-align: center;
    border-radius: 1px;
    font-style: initial;
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
}
#Titulo:hover{
    border: 15px solid blue;
    background-color: rgb(224, 4, 4);
    transition: 1s;
}
#fundo{
    padding-top: 10px;
    background-color: aqua;
    padding-bottom: 45rem;
}
#fundo button{
    background-color: green;
    color:white;
    width: 5rem;
    height: 2rem;
    margin-top: 5rem;
    margin-left: 1rem;
    font-size: medium;
}
#fundo button:hover{
    transition: 250ms;
    background-color: red;
}
#fundo p{
    margin-left: 1rem;
    font-size: large;
    font-style: oblique;
    font-family: 'Franklin Gothic Medium';
}
#git{
    color: white;
    text-decoration: none;
}
