#Titulo{
    border: 10px solid aqua;
    background-color: rgb(150, 215, 255);
    transition: 1s;
    cursor: pointer;
    text-align: center;
    border-radius: 1px;
    font-style: initial;
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
}
#Titulo:hover{
    border: 15px solid blue;
    background-color: rgb(224, 4, 4);
    transition: 1s;
}
.mdCertificados img{
    list-style-type: none;
    height: 15rem;
    margin-top: 10px;
    border-radius: 10px;
    transition: 1s;
    overflow: hidden;
}
.mdCertificados img:hover{
    transition: 1s;
    height: 20rem;
}
#fundo{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    background-color: aqua;
    padding-bottom: 5rem;
}
#fundo h3{
    margin-left: 20px;
    font-family: 'tahoma';
}
#fundo ul{
font-family: 'tahoma';
font-size: large;
}